/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del Navbar */
.navbar {
  background-color: #007bff;
  color: #fff;
  padding: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Estilos de la sección "Sobre Mí" */
.section {
  padding: 60px 0;
}

.about-content {
  text-align: center;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
}
